@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
:root {
  --text-light-shadow: 0px 2px 4px #000;
  --text-color-main-theme: #282c34
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background: #212121;
  color: #fff;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index:3 ;
  overflow: hidden;
  font-family: JetBrains Mono, monospace;
  font-size: 2em;
  
}

 
#scroll-button {
  background-color: #1f2228;
  border: none;  
  padding: 15px 20px;
  text-decoration: none;   
  cursor: pointer;
  position: absolute;
  bottom: 30%;
  left: 45%;  
  font-weight: bold;
}

.shadow{
  background-color: #a9b0bd;
  width: 3em;
  height: 1em;  
  position: absolute;
  border-radius: 50%;
  left: 47.5%;
  top: 90%;
  animation: opacity, shadow;
animation-duration: 4s, 1s; 
animation-iteration-count: 1, infinite;
animation-delay: 0s, 3.5s;
  
}

@keyframes shadow {
 0% {
  opacity: 0.5;
 }

  50% {
    scale: 1.1;
    opacity: 1;
    
  }
  100%
{
  opacity: 0.5;
}
}




.bloc1{
  background-color: #212121;
  width: 60%;
  height: 10%;
  position: absolute;
  z-index: 1;
  top: 38%;
}

.bloc2{
  background-color: #212121;
  width: 60%;
  height: 15%;
  position: absolute;
  z-index: 1;
  bottom: 33%;
}

.page1{
    height: 1em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
    background-color: rgba(0,0,0,0);
    overflow: hidden;

}


.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 10s infinite; 
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 10s 1;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 120vmin;
  /* background: #212121; */
  transform: translate(-120vmin, -25vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 2vmin;
  width: 130vmin;
  /* background: #212121; */
  transform: translate(-100vmin, 1.4vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  18.75% {
    transform: translatey(-3.5vmin);
    opacity: 1;
  }
  37.5% {
    transform: translatey(-7.1vmin);
    opacity: 1;
  }
  56.25% {
    transform: translatey(-10.4vmin);
  }
  75% {
    transform: translatey(-13.5vmin);
  }
}

.test-fun-goku{
  width: 12em;
  
  animation: goku 5s ease-out forwards,  bounce 1s infinite;      
  position: absolute;
  z-index: 4;
  left: 30%;
  animation-delay: bounce 5s;
  

}

@keyframes goku {
  0% {
    transform: translatey(-70vmin);
    
  }
  80% {
    transform: translatey(0vmin);
    
  }
}


@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  70%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.test-fun-shenron{
  width: 12em;
  top: 2%;
  left: 2%;
  animation: mouvementSerpent 5s linear;       
  position: absolute;
  z-index: 4; 

}

@keyframes mouvementSerpent {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(110vw) translateY(0vh);
  }
  35% {
    transform: translateX(110vw) translateY(50vh) scale(2) ;
  }
  50% {
    transform: translateX(-20vw) translateY(50vh) scale(2) ;
    
  }
  70%{
    transform: translateX(-100vw) translateY(80vh) scale(10)  ;

  }
  100% {
    transform: translateX(110vw) translateY(80vh) scale(9) ;
  }
  

}

@media (max-width: 1980px){
  header {
    font-size: 1.5em;
    }
  .bloc1{
    background-color: #212121;
    width: 60%;
    height: 10%;
    position: absolute;
    z-index: 1;
    top: 38%;
  }
  
  .bloc2{
    background-color: #212121;
    width: 60%;
    height: 15%;
    position: absolute;
    z-index: 1;
    bottom: 32%;
  }

  .shadow{
   
    left: 48.5%;
    
  }

  @keyframes move {
    18.75% {
      transform: translatey(-3.5vmin);
      opacity: 1;
    }
    37.5% {
      transform: translatey(-7vmin);
      opacity: 1;
    }
    56.25% {
      transform: translatey(-10.3vmin);
    }
    75% {
      transform: translatey(-13.5vmin);
    }
 
    } }

  
    @media (max-width: 450px){

      header{
        opacity: 0;
        height: 0vh;
        position: fixed;
        transform: translateX(-100%);
      }



    }