/*------------------------ Pop-Up--------------- */
:root {
  --text-light-shadow: 0px 2px 4px #000;
  --text-color-main-theme: #282c34
}


.popUp {
    height: fit-content;
    width: 35%;
    position: fixed;
    z-index: 10; 
    top: 9%; 
    bottom: 9%;       
    box-shadow: 0 0 5px rgba(0, 0, 0,);
    border: var(--border-normal);
    padding: 1.5rem;     
    animation: .6s 2s 1 pop;  
    margin: 1em;
    border: 1.2px solid #f8a100;    
    background-color: #fffefb;     
    border-radius: 12px;   
    filter:drop-shadow(2px 2px 3px black);
    left: 35%;

  }
  
  .popUp--hidden {
    display: none;
  }
  
  
  .popUp__title {
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: rgb(255, 254, 254);
    background-color: orange;
    text-decoration: underline;
    font-size: 2em;  
    margin-top: 15px;
    text-align: center;
    border-radius: 25px;
  }
  
  .pop-Up__title-expérience{
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);  
    height: 10px;
    font-size: 1em;
    border-top: solid orange 2px;
    margin-top: 1rem;
    
  }
  
  .date{
    color: rgb(252, 251, 251);
    font-weight: bold;
    background-color: #0056b3;
    font-size: 0.8em;
    border-radius: 15px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    
  }
  
  .popUp__list{
    padding: 1em;
    margin-top: 1em;
    border-bottom: solid grey 1em;
    font-size: 1.2em;
  }
  
  
  
  .popUp__list {
    border: var(--border-normal);
    padding: 0.25rem;
    border-radius: 5px;
  }
  
  /* .newsletter__close {
    position: absolute;
    right: 0;
    top: 0;
  } */
  
  .popUp__button{
    border: 0;
    border-radius: 25%;
    width: 3em;
    padding: 1em;
    color: white;
    background-color: #e48d30;
    padding: .7rem;
    display: inline-block;
    margin-left: .3rem;
    filter:drop-shadow(2px 2px 1px black);
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e48d30;
    transform: scale(1.1);
  }
  

  @media (max-width: 1980px){

    .popUp{
      top: 2%;
      font-size: smaller;
      width: 40%;
    left: 30%;
      
    }
    .popUp__title {
      font-size: 1.5em
    }

    
  };

  @media (max-width: 900px){
.hide-link-mobile{
  opacity: 0;
}
    
    };