h2{
background-color: brown;
color: white;
font-weight: bold;
text-transform: uppercase;

}

h1{
    font-size: 4em;
    color: blue;
    background-color: orange;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.picture__1{
    width: 25vw;

}